.newlist {
  position: absolute;
  top: 75px;
  left: 65px;
  width: calc(100vw - 82px) !important;
  .productTitle {
    font-size: 22px;
  }
  .productForm {
    margin-top: 10px;
    display: flex !important;
    flex-wrap: wrap !important;
    .formleft {
      .item {
        width: 220px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-bottom: 10px;
        label {
          color: gray;
          font-weight: 600;
          margin-bottom: 10px;
        }
        select,
        input {
          padding: 10px;
          outline: none;
        }
        .is-invalid-label {
          color: red;
        }
        .is-invalid {
          border: 1px solid red;
        }
      }
    }

    .formright {
      .item {
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 400px;
        label {
          color: gray;
          font-weight: 600;
          margin-bottom: 10px;
          margin-bottom: 10px;
        }
        .is-invalid-label {
          color: red;
        }
        .is-invalid {
          border: 1px solid red;
        }
      }
    }

    .createBtn {
      height: 30px;
      width: 220px;
      margin-left: 15px !important;
      margin-top: 10px;
      padding: 7px 10px;
      border: none;
      border-radius: 10px;
      background-color: darkblue;
      color: white;
      font-weight: 600;
      cursor: pointer;
      align-self: center;
    }
  }
}

@media (min-width: 900px) {
  .newlist {
    left: 220px;
    width: calc(100vw - 240px) !important;
    .productTitle {
      font-size: 32px !important;
    }
    .item {
      width: 250px;
    }

    .createBtn {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 150px !important;
    }
  }
}

@media (max-width: 540px) {
  .newlist {
    .formright {
      .item {
        width: 300px !important;
      }
    }
  }
}

@media (max-width: 450px) {
  .newlist {
    .formright {
      .item {
        width: 220px !important;
      }
    }
  }
}
